<div style="height: 618px;background: #fff;">
<div class="form_row">
  <div class="form_title">Some more details</div>
  <ul class="nextride_nav">
    <li>3</li>
    <li class="yes active">2</li>
    <li class="yes active nex_active">1</li>
  </ul>
</div>
<div class="form_row inputs3" style="height: 50px;" layout>
  <md-select placeholder="Passengers" ng-model="booking.passenger" style="margin-right: 11px;">
    <md-option value="1">1</md-option>
  <md-option value="2">2</md-option>
  <md-option value="3">3</md-option>
  <md-option value="4">4</md-option>
  <md-option value="5">5</md-option>
  <md-option value="6">6</md-option>
  <md-option value="7">7</md-option>
  </md-select>
  <md-input-container flex>
  <input ng-model="booking.pickup" g-places-autocomplete marker-id="markerA" placeholder="From">
  </md-input-container>
<md-input-container flex style="margin-right: 11px;">
<input ng-model="booking.drop" g-places-autocomplete marker-id="markerB" placeholder="To">
</md-input-container>
<md-select placeholder="Date" class="date-picker-selecter" ng-model="booking.date">
<time-date-picker ng-model="booking.date"></time-date-picker>
</md-select>
</div>
<div class="form_row" style="padding-left: 221px;   height: 57px;">
  <md-checkbox ng-model="booking.options.oneway" ng-init="booking.options.oneway = true">
    One way
  </md-checkbox>
  <md-checkbox ng-model="booking.options.roundtrip">
  Round trip
  </md-checkbox>
  <md-checkbox ng-model="booking.options.multistop">
  Multi stop
  </md-checkbox>
  <!--<md-checkbox ng-model="booking.options.houerly">
  Houerly
  </md-checkbox>-->
</div>
<div class="form_row height-flex" style="  margin-bottom: 20px;">
  <div class="bookings">
    <div class="booking" layout="row" layout-align="space-around center">
      <div class="bold">BOOKING 1</div>
      <div>MIN 1 - MAX 4 PEOPLE</div>
      <div>MAX 3 BIG BAGS</div>
      <div>10KMS/23MINS</div>
      <div>Economy</div>
      <div class="bold">$92</div>
      <div><a href="">Edit Booking</a></div>
    </div>
    </div>
</div>
<div class="form_row">
  <div class="col">
    <div class="form_subtitle">Passengers</div>
    <md-input-container flex>
      <input ng-model="passenger.surname" placeholder="Passenger Surname">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="passenger.firstname" placeholder="Passenger Firstname">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="passenger.email" placeholder="Passenger Email">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="passenger.mobile" placeholder="Passenger Mobile">
    </md-input-container>
    <p><a class="left" href="#">Add Passenger</a></p>
  </div>
  <div class="col">
    <div class="form_subtitle">Payment Details <span>
      <img src="assets/images/step2/amex.png" alt="">
      <img src="assets/images/step2/visa.png" alt="">
      <img src="assets/images/step2/discover.png" alt="">
    </span></div>
    
    <md-input-container flex>
      <input ng-model="payment.cardname" placeholder="Name on Card">
    </md-input-container>
    <md-input-container flex>
      <input ng-model="payment.cardnumber" placeholder="Card Number">
    </md-input-container>
    
    <div class="col fixed-left">
      <md-input-container flex>
        <input ng-model="payment.month" placeholder="Month">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="payment.year" placeholder="Year">
      </md-input-container>
    </div>

    <div class="col fixed-right">
      <md-input-container class="full" flex>
        <input ng-model="payment.securitycode" placeholder="Security Code">
      </md-input-container>
    </div>

    <div class="form_subtitle">
      Create Account
    </div>
    
      <md-input-container flex>
        <input ng-model="booking.email" placeholder="Email (Username)">
      </md-input-container>
      <md-input-container flex>
        <input ng-model="booking.password" type="password" placeholder="Password">
      </md-input-container>
      
      <md-button ng-click="next()" class="md-raised md-primary choose left">Next</md-button>

  </div>
  <p class="info">
    <img src="assets/images/step2/icn_lock.png" alt="">
    This is a secure 128-Bit SSL Encrypted payment. You are safe.
  </p>
</div>
</div>