@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(/bower_components/md-date-time/dist/md-date-time.css);

@main_blue: rgb(98, 137, 217);
@symbol_blue: #7799de;

html {
  font-family: 'Source Sans Pro', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: auto;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}
// injector
// endinjector


//HEADER

header {
    padding: 10px 20px;
    height: 82px;
}

md-toolbar.md-default-theme {
  background-color: #fff;
  box-shadow: none;
}

.md-button {
  text-transform: none !important;
}

.sign.md-button {
  background-color: @main_blue !important;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px;
  width: 135px;
  height: 41px;
}

//ENDHEADER

//FORM

.nextride_form.jumbotron {
  background: url(/assets/images/back1.png) no-repeat;
  height: 791px;
  color: #000;
  background-size: cover;
}

.nextride_form.jumbotron h1 {
  font-size: 30px;
  font-weight: lighter;
  height: 80px;
  padding-top: 17px;
  color: #fff;
}

md-whiteframe.md-whiteframe-z3 {
  background: #fff;
  width: 830px;
  height: 556px;
  margin: 0px auto;
  display: block;
  box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.5);
}

.form_title {
  font-size: 25px;
  font-weight: lighter;
  color: #6289d9;
  padding-top: 18px;
  width: 50%;
  float: left;
}

ul.nextride_nav {
  list-style: none;
  width: 50%;
  float: left;
}

.nextride_nav li {
  position: relative;;
  color: gray;
  float: right;
  padding: 3px 9px;
  border-radius: 50%;
  border: 2px solid gray;
  margin: 0px 30px;
  font-weight: bold;
}

.nextride_nav li.active {
  background: @symbol_blue;
  color: #fff;
  border: 3px solid @symbol_blue;
}

.form_row {
  width: 100%;
  float: left;
}

.inputs3 {
  padding: 0px 20px;
  margin-top: 30px;
}

md-input-container .md-placeholder {
  top: -20px !important;
  left: 13px;
}

md-input-container.md-default-theme {
  height: 40px;
  padding: 0px;
  max-width: 204px;
}

md-select {
  margin: 0px 5px;
  height: 40px;
  width: 170px;
}

md-select-label {
  height: 100%;
  padding: 0px;
}

.md-select-icon {
  right: 0px;
  position: absolute;
}

md-checkbox {
  float: left;
}

md-checkbox.md-default-theme .md-icon {
  border: 0px;
}

md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: #fff;
}

md-checkbox.md-default-theme .md-icon:after {
  border-color: rgba(0, 0, 0, 0.3);
}

md-checkbox.md-default-theme .md-label {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

md-checkbox.md-default-theme.md-checked .md-label {
  color: rgba(0, 0, 0, 1);
}

md-checkbox.md-default-theme.md-checked .md-icon:after {
  border-color: @main_blue;
}

md-checkbox .md-icon:after, .md-select-label .md-select-icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 2px;
  display: table;
  width: 6px;
  height: 12px;
  border: 4px solid;
  border-top: 0;
  border-left: 0;
  content: ' ';
}

md-checkbox.md-checked .md-icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 2px;
  display: table;
  width: 6px;
  height: 12px;
  border: 4px solid;
  border-top: 0;
  border-left: 0;
  content: ' ';
}

.md-input {
  max-height: 40px;
  border: 1px solid rgba(0,0,0,0.12) !important;
}

.md-button.choose {
  background-color: #8ed036 !important;
  box-shadow: none !important;
  width: 106px;
  height: 41px;
}

.md-button.choose:hover {
  box-shadow: none !important;
}

.md-button.choose span {
  text-transform: none;
  font-weight: bold;
}

.form_row.full {
  height: 339px;
}

.form_row.full .car {
  width: 33.3%;
  float: left;
  height: 100%;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 30px;
  opacity: 1;
}

.form_row.full .car:hover, .form_row.full .car.selected {
  opacity: 1;
}

.full p.title {
  margin: 0px 0px;
}

.full p.price {
  margin: 3px 0px 20px;
  color: #626262;
  font-size: 12px;
}

.price span {
  font-size: 40px;
  font-weight: lighter;
  line-height: 33px;
  color: @main_blue;
}

//FORM

//CARDS

.techs .thumbnail h3 {
  color: @main_blue;
  font-weight: lighter;
  margin-top: 50px;
}

.techs md-card {
  max-width: 276px;
  box-shadow: none;
}

.techs p.subtitle {
  color: #939393;
  height: 20px;
}

.techs p.content {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 80px;
}

//CARDS

//BANNER

.jumbotron.mobile_apps {
  background: url(/assets/images/back2.png) no-repeat;
  height: 414px;
  background-size: cover;
}

.jumbotron.mobile_apps [layout="row"] {
  height: 100%;
}

//BANNER


md-input-container.md-input-focused .md-placeholder {
  opacity: 1;
  -webkit-transform: translate3d(0, 19px, 0);
  transform: translate3d(0, 19px, 0);
}

md-input-container.md-input-has-value .md-placeholder {
  opacity: 0 !important;
}

md-input-container .md-placeholder {
  opacity: 1 !important;
  font-size: 14px;
}

md-input-container.md-default-theme .md-input {
    padding: 17px 5px 4px 15px;
}

.md-input-has-value .md-input {

}

.time-date > .display > .title {
  background-color: rgb(63,81,181);
}

.time-date > .display > .content {
  background-color: @main_blue;
}

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
  background-color: @main_blue;
}

.time-date > .buttons {
    position: absolute;
  bottom: -12px;
  right: 2px;
}

.time-date button, .time-date .button {
  color: @main_blue;
}

.time-date > .control > .slider > .date-control > .days .day-cell:hover, .time-date > .control > .slider > .date-control > .days .day-cell:active {
  background-color: @main_blue;
}

md-select-menu, md-select-menu md-content {
  max-height: 1000px !important;
}

md-select-menu:not(.md-overflow) md-content {
  padding: 0px;
}

md-label {
  border: none;
}

/*
GOOGLE STHYLEs
*/

.pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;

  .pac-container:after {
      content: "";
      padding: 1px 1px 1px 0;
      height: 16px;
      text-align: right;
      display: block;
      background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png);
      background-position: right;
      background-repeat: no-repeat;
      background-size: 104px 16px;
  }

  .hdpi.pac-container:after {
      background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png)
  }

  .pac-item {
      cursor: default;
      padding: 0 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 30px;
      text-align: left;
      border-top: 1px solid #e6e6e6;
      font-size: 11px;
      color: #999;
  }

  .pac-item:hover {
      background-color: #fafafa;
  }

  .pac-item-selected, .pac-item-selected:hover {
      background-color: #ebf2fe;
  }

  .pac-matched {
      font-weight: 700;
  }

  .pac-item-query {
      font-size: 13px;
      padding-right: 3px;
      color: #000;
  }

  .pac-icon {
      width: 15px;
      height: 20px;
      margin-right: 7px;
      margin-top: 6px;
      display: inline-block;
      vertical-align: top;
      background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
      background-size: 34px;
  }

  .hdpi .pac-icon {
      background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png);
  }

  .pac-icon-search {
      background-position: -1px -1px;
  }

  .pac-item-selected .pac-icon-search {
      background-position: -18px -1px;
  }

  .pac-icon-marker {
      background-position: -1px -161px;
  }

  .pac-item-selected .pac-icon-marker {
      background-position: -18px -161px;
  }

  .pac-placeholder {
      color: gray;
  }

  .custom-prediction-label {
      font-style: italic;
  }
}

.form_subtitle {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.form_subtitle span {
  float: right;
}

.form_subtitle span img {
  margin-right: 10px;
}

.form_row .col {
  width: 50%;
  float: left;
  text-align: left;
  padding: 0px 2%;
}

.form_row .col.fixed-left {
  padding-left: 0px;
}

.form_row .col.fixed-right {
  padding-right: 0px;
}

.form_row .col md-input-container {
  width: 48%;
  float: left;
  margin-bottom: 15px;
}

.form_row .col md-input-container.full {
  width: 92%;
}

.form_row .col md-input-container.middle {
  width: 72%;
}

.form_row .col md-input-container.breakmax {
  max-width: 1000px !important;
}

a {
  text-decoration: none;
  color: rgb(63,81,181),
}

.left {
  float: right;
  margin-right: 2%;
}

p.info {
  float: left;
  width: 100%;
  height: 50px;
  background: rgb(0, 205, 244);
  padding: 11px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

p.info img {
  margin-bottom: 2px;
  margin-right: 4px;
}

md-input-container.md-default-theme {
  overflow: hidden;
}

.bookings {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}

.booking .bold, .booking a, .resume .bold {
  font-weight: bolder;
}

.booking {
  padding: 10px;
}

.height-flex {
  height: auto;
}

button.apply.md-button {
    width: 26%;
  margin-left: 1%;
  margin-right: 0%;
  background-color: #fff !important;
  box-shadow: none !important;
  border: @main_blue 1px solid;
  color: @main_blue;
}

.apply.md-button.choose span {
  background: #fff;
  color: @main_blue !important;
}


table.resume {
  width: 100%;
  margin-top: 50px;
}

table.resume tr.total {
  border: 1px solid #ccc; 
  border-right: 0px;
  border-left: 0px;
}

table.resume tr > td {
  padding: 5px;
  height: 30px;
}

table.resume tr > td:nth-child(2) {
  text-align: right;
}

hr {
  margin: 2px;
}

.mini {
  font-size: 10px;
  margin: 0px;
  line-height: 18px;
}

.mini span.blue {
  color: @main_blue;
}

.md-whiteframe-z3.ng-enter, .md-whiteframe-z3.ng-leave{
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
 }


.md-whiteframe-z3.ng-enter.ng-enter-active {
  opacity: 1;
}

.md-whiteframe-z3.ng-enter {
  opacity: 0;
}

.md-whiteframe-z3.ng-leave.ng-leave-active {
  opacity: 0;
  margin-top: 500px;
 }

.md-whiteframe-z3.ng-leave {
  margin-top: 0px;
 }

 md-option.non-repeateable {
    height: 325px;
    width: 710px;
    padding: 0px;
    overflow: hidden;
 }

 md-select-menu.md-default-theme md-option.non-repeateable:focus:not([selected]) {
  background: #fff;
 }

 md-select.md-default-theme .md-select-label {
    color: rgba(0,0,0,0.54);
 }

 .feed {
  max-width: 280px !important;
  margin: 10px auto !important;
  border: 2px solid #fff;
 }

 .feed .md-placeholder {
  color: #fff !important;
 }

 .feed-button {
  background-color: #fff !important;
  width: 135px;
  height: 41px;
  color: @main_blue !important;
 }

 .nextride_nav li.yes:after {
  content: '______';
  position: absolute;
  font-weight: bolder;
  font-size: 20px;
  top: -9px;
  left: 29px;
  color: gray;
}

.time-date {
    font-size: 14px !important;
    background: #fff;
  position: relative;
  top: 0px;
  left: -50%;
  z-index: 100000;
  box-shadow: 0px 2px 5px -1px #000;
}

.nextride_nav li.yes.nex_active:after {
  color: @main_blue;
}

.date-picker-selecter .md-select-label .md-select-icon:after {
  top: -15px;
}

.md-select-label .md-select-icon:after {
  color: @main_blue;
}

.social {
  width: 100%;
  color: #fff;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.social:hover {
  opacity: 0.9;
}

.gplus {
  background: url("http://shiftportal.s3-website-us-east-1.amazonaws.com/assets/imgs/gplus.png") #db4939 no-repeat;
  background-position: 10px;
}

.fb {
  background: url("http://shiftportal.s3-website-us-east-1.amazonaws.com/assets/imgs/fb.png") #4b75bd no-repeat;
  background-position: 10px;
}
